body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.roulette-container {
    position: relative;
    width: 320px;
    height: 320px;
    box-shadow: 2px 4px 12px #00000014;
    border-radius: 50%;
    background: white;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 80px;
    position: sticky;
}

#find-restaurants {
    width: 100px;
    height: 100px;
    border-radius: 18px;
    background-color: rgb(66 66 69 / 70%);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#find-restaurants:disabled {
    background-color: rgb(66 66 69 / 40%);
    cursor: not-allowed;
}

.countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
}

#countdown {
    font-size: 14px;
    color: #333;
    padding: 2px 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100px;
    border-radius: 18px;
    background-color: #FF4D4D;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 10px;
}

#start:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#start:hover:enabled {
    background-color: #b64400;
}

.tickets-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
}

#tickets, #total-tickets {
    font-size: 14px;
    color: #333;
    padding: 2px 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
} 

#result {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
    padding: 2px 6px;
    border: 1px solid rgba(221, 221, 221, 0.5);
    border-radius: 4px;
    background-color: rgba(240, 240, 240, 0.2);
    width: 350px;
    text-align: center;
    min-height: 28px;
}

#navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 18px;
    background-color: #2997ff;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#navigate:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#navigate:hover:enabled {
    background-color: #0056b3;
}
